# Binaries
docker-deps
docker-deps.exe
docker-deps.json
docker-manifest

# Testing
coverage.out
test-docker-deps.json
invalid.json

# Go
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
